.body-container {
    margin-bottom: 100px;
    > .title {
        border-radius: 0 5px 5px 0;
        width: 50%;
        background-color: #0a3456;
        color: white;
        padding: 40px 23px;
        padding-right: 100px;
        text-align: right;
        z-index: 1;
        position: relative;
    }
    .description {
        border-radius: 5px 0 0 5px;
        margin-top: -40px;
        z-index: 0;
        width: 80%;
        background-color: #ef4023;
        margin-left: auto;
        padding: 70px;
        display: flex;
        // max-height: 530px;
        .left {
            width: 40%;
            color: white;
            .left-title {
                color: white;
                white-space: inherit;
                font-size: 30px;
                margin-bottom: 20px;
            }
            p {
                font-size: 20px;
                color: white;
            }
        }
        .right {
            margin-left: 5%;
            width: 41%;
            color: white;
            .right-title {
                margin-bottom: 20px;
                margin-top: -44px;
                color: white;
                white-space: inherit;
                font-size: 25px;
            }
            .right-text {
                .item {
                    margin-left: 20px;
                }
            }
            p {
                font-size: 23px;
                color: white;
            }
            .column-2 {
                margin-left: 50px;
            }
            .icon {
                width: 40px;
            }
            .item-list {
                margin: 10px 0px;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .description {
        .left {
            .left-title {
                font-size: 25px !important;
            }
            p {
                font-size: 15px !important;
            }
        }
        .right {
            width: 56% !important;
            .right-title {
                font-size: 25px !important;
            }
            p {
                font-size: 15px !important;
            }
        }
    }
}