.customControl {
    & > div > div {
        &:before {
            height: 2px;
            background-color: #ececec;
        }
        &:hover:before {
            height: 2px;
            background-color: #ececec !important;
        }
        input {
            height: 24px;
        }
    }
    margin-bottom: 20px !important;    
}

.customControlSelect {
    & > div {
        &:before {
            height: 2px;
            background-color: #ececec;
        }
        &:hover:before {
            height: 2px;
            background-color: #ececec !important;
        }
        input {
            height: 24px;
        }
    }
    margin-bottom: 20px !important;    
}

.input-full {
    width: 100%;
}

.control-group {
    margin-bottom: 20px;
}

.form-actions {
    & > button {
        margin-right: 15px;
    }
}

.floating-button {
    position: fixed !important;
    bottom: 40px;
    right: 40px;
    z-index: 9;
}