.title-effect {
    z-index: 1;
    position: absolute;
    color: $md-primary-color;
    width: 365px;
    bottom: 96px;
    left: 157px;
    font-size: 65px;
    font-weight: bold;
}

.wrapper-lang {
    z-index: 1;
    display: flex;
    justify-content: center;
    .switch-lang {
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        color: white;
        z-index: 1;
        span {
            cursor: pointer;
        }
        .active {
            color: $md-secondary-color;
        }
    }
    .switch-lang-dark {
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        color: $md-primary-color;
        z-index: 1;
        span {
            cursor: pointer;
        }
        .active {
            color: $md-secondary-color;
        }
    }
}

.bg-landing {
    background-image: url(bg-landing.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.react-calendar {
    border: none !important;
}

.statistics-container-blue {
    height: 215px;
    background-color: #42A5F5;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    .statistics-wrapper {
        color: white;
        margin-bottom: 70px;
        .amount {
            font-size: 50px;
            margin-bottom: 15px;
        }
        .label {
            opacity: 0.8;
            font-size: 15px;
        }
    }
    .statistic-icon-blue {
        font-size: 113px;
        color: #3881bb;
    }
    :after {
        padding: 15px;
        content: '';
        background: #337bb5;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
}

.statistics-container-red {
    height: 215px;
    background-color: #F44336;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    .statistics-wrapper {
        color: white;
        margin-bottom: 70px;
        .amount {
            font-size: 50px;
            margin-bottom: 15px;
        }
        .label {
            opacity: 0.8;
            font-size: 15px;
        }
    }
    .statistic-icon-red {
        font-size: 113px;
        color: #B71C1C;
    }
    :after {
        padding: 15px;
        content: '';
        background: #D50000;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
}

.statistics-container-green {
    height: 215px;
    background-color: #009688;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    .statistics-wrapper {
        color: white;
        margin-bottom: 70px;
        .amount {
            font-size: 50px;
            margin-bottom: 15px;
        }
        .label {
            opacity: 0.8;
            font-size: 15px;
        }
    }
    .statistic-icon-green {
        font-size: 113px;
        color: #00696C;
    }
    :after {
        padding: 15px;
        content: '';
        background: #004D40;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
}

.sentence-container {
    background-color: #26A69A;
    padding: 15px;
    color: white;
    border-radius: 3px;
    .author {
        margin-bottom: 10px;
    }
}