.header {
    // border: 1px solid red;
    transition: all .5s ease;
    z-index: 1;
    background: rgba($color: #ececec, $alpha: .6);
    .nav-wrapper {
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: $md-primary-color;
            display: flex;
            justify-content: flex-start;
            padding: 10px 0;
            white-space: nowrap;
            // flex: 1;
            font-size: 18.6px;
            font-weight: bold;
        }
        .active {
            color: $md-secondary-color;
        }
        :first-child {
            flex: 0 0 16%;
            justify-content: flex-start;
        }
    }
}

.dark-header {
    // border: 1px solid red;
    transition: all .5s ease;
    z-index: 1;
    background: $md-primary-color;
    .nav-wrapper {
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: white;
            display: flex;
            justify-content: flex-start;
            padding: 10px 0;
            white-space: nowrap;
            // flex: 1;
            font-size: 18.6px;
            font-weight: bold;
        }
        .active {
            color: $md-secondary-color;
        }
        :first-child {
            flex: 0 0 16%;
            justify-content: flex-start;
        }
    }
}

.sidebar {
    & > div {
        margin-top: 64px;
        z-index: 10;
    }
}