// @font-face {
// 	font-family: effra-regular;
// 	src: url(Effra_Std_Rg.ttf) format('truetype');
// }

*, *:before, *:after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
	// font-family: effra-regular, Arial, Helvetica, sans-serif;
}

body {
	// font-family: effra-regular, Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0;
	margin: 0;
    overflow-y: scroll;
    background-color: #F5F5F5;
    min-height: 100vh;
}

.capitalize {
	text-transform: capitalize;
}

.card-margin{
	margin-bottom: 30px;
}

.no-padding {
	padding: 0 !important,
}
.no-margin {
	margin: 0 !important,
}

.full-height {
	height: 100%;
}

// .wrapper {
// 	min-height: 100vh;
// }

// #root, .wrapper, .page, .authComponent {
// 	display: flex;
// 	flex-direction: column;
// 	flex: 1;
// }

footer {
	display: flex;
	flex: 0 1 auto;
	width: 100%;
	background-color: #ececec;
	font-size: 15px;
	color: rgb(20, 20, 20);
	justify-content: center;
	padding: 30px 0 65px 0px !important;
	bottom: -245px;
	z-index: 1;
	.footer-container {
		justify-content: space-between;
		.container {
			.wrapper {
				.title {
					font-weight: bold;
					font-size: 15px;
					margin-bottom: 20px;
				}
			}
		}
	}
}

.mdcol-big {
	max-width: 1210px;
}

.midcol {
	margin: auto;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-center {
	align-items: center;
}

.flex-column {
	flex-direction: column
}

.full-width {
	width: 100% !important;
}

.card-padding {
	padding: 30px;
}

.to-right {
	margin-left: auto;
}

.absolute {
	position: absolute;
}

.aling-center {
	align-items: center
}

.justfy-center {
	justify-content: center
}

.justfy-between {
	justify-content: space-between
}

.content-top {
	margin-top: 60px;
}

.flex-wrap {
	flex-wrap: wrap;
}

table {
    // font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

// LOADING

.loading-wrapper {
	position: fixed;
    width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	animation: showLoading 1s normal ease-in;
	background-color: rgba(0,0,0,0.8);
}

@keyframes showLoading {
	0% {
		background-color: rgba(0,0,0,0.0);
	}
	100% {
		background-color: rgba(0,0,0,0.8);
	}
}

.spinner {
	margin: 100px auto;
    width: 120px;
    height: 92px;
    text-align: center;
    font-size: 11px;
    line-height: 50;
    z-index: 999;
  }
  
  .spinner > div {
	background-color: white;
	height: 100%;
	width: 12px;
	margin: 1px;
	display: inline-block;
	
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
	0%, 40%, 100% { 
	  transform: scaleY(0.4);
	  -webkit-transform: scaleY(0.4);
	}  20% { 
	  transform: scaleY(1.0);
	  -webkit-transform: scaleY(1.0);
	}
  }

  .mce-notification.mce-has-close {
      display: none !important;
  }
//Editor
// .editor-html {

//     .mce-notification.mce-has-close {
//         display: none !important;
//     }
    
//     .mce-content-body table table {
//         display: none !important;
//     }
//     .mce-content-body {
//     padding: 0px 15px !important;
//     }
    
    
//     a {
//         // color: black !important;
//     }
    
//     #mceu_5 {
//     // position: fixed;
//     // width: 100%;
//     }
    
//     #mceu_10 {
//     padding-top: 14px !important;
//     }
    
//     .mce-ico {
//     font-size: 45px !important;
//     width: 100% !important;
//     line-height: 26px !important;
//     }
    
//     i.mce-i-backcolor {
//     width: 100% !important;
//     height: 37px !important;
//     line-height: .8 !important;
//     }
    
//     i.mce-i-forecolor {
//     width: 100% !important;
//     height: 37px !important;
//     line-height: .8 !important;
//     }
    
//     .mce-btn button {
//     font-size: 19px !important;
//     }
    
//     #mceu_2-button {
//     // padding-right: 24px !important;
//     padding-top: 14px !important;
//     }
    
//     #mceu_12 {
//     display: none !important;
//     }
    
//     .mce-colorbutton .mce-preview {
//     margin-left: -22px !important;
//     width: 24px  !important;
//     margin-top: 13px  !important;
//     }
    
//     .mce-btn button {
//     padding: 9px 6px  !important;
//     }
    
//     .mce-listbox .mce-caret {
//     right: -14px  !important;
//     }
    
//     #mceu_0.mce-btn .mce-caret {
//     margin-top: 36px  !important;
//     }
    
//     #mceu_1.mce-btn .mce-caret {
//     margin-top: 36px  !important;
//     }
    
//     // #mceu_22 {
//     // width: 180px  !important;
//     // height: 48px  !important;
//     // }
    
//     .mce-grid td.mce-grid-cell div {
//     width: 30px !important;
//     height: 30px !important;
//     font-size: 24px !important;
//     line-height: 30px !important;
//     }
// }

td {
	font-size: inherit !important;
	border: none !important;
}

@media screen and (min-width: 1025px) {
	h6, p {
		font-size: inherit !important;
	}
}
@media screen and (min-width: 320px) {
	h6, p {
		font-size: inherit !important;
	}
}

.mce-widget {
  display: none;
}